body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Titan One', cursive;
  color: var(--default);
  background-color: var(--default);
  font-size: 14px;
  font-weight: 500;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 16px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
