@mixin font-style($weight, $size, $height, $spacing) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}
@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
