<div class="about__backdrop about__backdrop--is-hidden" data-modal>
  <div class="about__modal">
    <button class="about__modal__button" data-modal-close>
      <svg width="15" height="15">
        <use href="/imagesg/icon.svg#icon-Burger-btn-close"></use>
      </svg>
    </button>
    <ul>
      <li>
        <img
          srcset="/src/images/ab-mod.jpg 1x, /src/images/ab-mod@2x.jpg 2x"
          src="/src/images/ab-mod.jpg"
          alt=""
        />
        <p></p>
      </li>
      <li>
        <img
          srcset="/src/images/ab-mod2.jpg 1x, /src/images/ab-mod2@2x.jpg 2x"
          src="/src/images/ab-mod2.jpg"
          alt=""
        />
        <p></p>
      </li>
    </ul>
  </div>
</div>
