<div class="about-modal__backdrop is-hidden" data-modal-about>
  <div class="about-modal">
    <button class="about--modal__button" data-modal-about-close>
      <svg width="15" height="15">
        <use href="/images/icon.svg#icon-Burger-btn-close"></use>
      </svg>
    </button>
    <ul class="about-modal__list">
      <li class="about-modal__item">
        <img
          class="about-modal__image"
          srcset="/images/ab-mod.jpg 1x, /images/ab-mod@2x.jpg 2x"
          src="/images/ab-mod.jpg"
          alt="ice-cream in cup"
        />
        <p class="about-modal__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, deserunt ipsum quasi nisi
          nulla totam qui tempora. Fuga distinctio omnis hic veniam reprehenderit, ipsam eum magni
          sit doloremque. Laboriosam, porro?
        </p>
      </li>
      <li class="about-modal__item">
        <img
          class="about-modal__image"
          srcset="/images/modal-about.jpg 1x, /images/modal-about@2x.jpg 2x"
          src="/images/modal-about.jpg"
          alt="ice-cream"
        />
        <p class="about-modal__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, deserunt ipsum quasi nisi
          nulla totam qui tempora. Fuga distinctio omnis hic veniam reprehenderit, ipsam eum magni
          sit doloremque. Laboriosam, porro?
        </p>
      </li>
    </ul>
  </div>
</div>
