<section class="section section--contacts-bg-color" id="contacts">
  <div class="container conteiner--contacts-padding">
    <h2 hidden>our contacts</h2>
    <ul class="contacts">
      <li class="contacts-card list">
        <span class="contacts__category">CAFE</span>
        <ul class="card__info">
          <li class="info__city list card-info--underline">
            <h3 class="info__city-name">Chicago</h3>
            <p class="info__city-descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="info__timetable list card-info--underline">
            <ul class="list">
              <li class="info__working-time">
                <h3 class="timetable__days">Monday - Friday</h3>
                <p class="timetable__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="info__working-time">
                <h3 class="timetable__days">Saturday - Sunday</h3>
                <p class="timetable__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="info__connect list">
            <ul>
              <li class="list">
                <a class="connect__tel" href="tel:+6100383766284">+61(0) 383 766 284</a>
              </li>
              <li class="list">
                <a class="connect__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="contacts-card list">
        <span class="contacts__category contacts__category--foodtruck">FOODTRUCK</span>
        <ul class="card__info">
          <li class="info__city list card-info--underline">
            <h3 class="info__city-name">Los Angeles</h3>
            <p class="info__city-descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="info__timetable list card-info--underline">
            <ul class="list">
              <li class="info__working-time">
                <h3 class="timetable__days">Monday - Friday</h3>
                <p class="timetable__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="info__working-time">
                <h3 class="timetable__days">Saturday - Sunday</h3>
                <p class="timetable__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="info__connect list">
            <ul>
              <li class="list">
                <a class="connect__tel" href="tel:+6100383766284">+61(0) 383 766 284</a>
              </li>
              <li class="list">
                <a class="connect__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="contacts-card list">
        <span class="contacts__category">CAFE</span>
        <ul class="card__info">
          <li class="info__city list card-info--underline">
            <h3 class="info__city-name">New York</h3>
            <p class="info__city-descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="info__timetable list card-info--underline">
            <ul class="list">
              <li class="info__working-time">
                <h3 class="timetable__days">Monday - Friday</h3>
                <p class="timetable__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="info__working-time">
                <h3 class="timetable__days">Saturday - Sunday</h3>
                <p class="timetable__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="info__connect list">
            <ul>
              <li class="list">
                <a class="connect__tel" href="tel:+6100383766284">+61(0) 383 766 284</a>
              </li>
              <li class="list">
                <a class="connect__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="buttons-wrap">
      <li class="contacts__links-btn">
        <button class="button button--location">Our Locations</button>
      </li>
      <li class="contacts__links-btn">
        <button class="button button--franchise">Franchise</button>
      </li>
    </ul>
  </div>
</section>
