<section class="section section--contacts-bg-color" id="contacts">
  <div class="container">
    <h2 hidden>our contacts</h2>
    <ul class="contacts">
      <li class="contacts-card list">
        <span class="contacts-card__category">CAFE</span>
        <ul class="contacts-card__info">
          <li class="contacts-card__city list contacts-card__info--underline">
            <h3 class="contacts-card__city-name">Chicago</h3>
            <p class="contacts-card__city-descr">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card__timetable list contacts-card__info--underline">
            <ul class="list">
              <li class="contacts-card__working-time">
                <h3 class="working-time__days">Monday - Friday</h3>
                <p class="working-time__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts-card__working-time">
                <h3 class="working-time__days">Saturday - Sunday</h3>
                <p class="working-time__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts-card__connect list">
            <ul>
              <li class="list">
                <a class="connect__tel" href="tel:+6100383766284">+61(0) 383 766 284</a>
              </li>
              <li class="list">
                <a class="connect__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="contacts-card list">
        <span class="contacts-card__category contacts-card__category--foodtruck">FOODTRUCK</span>
        <ul class="contacts-card__info">
          <li class="contacts-card__city list contacts-card__info--underline">
            <h3 class="contacts-card__city-name">Los Angeles</h3>
            <p class="contacts-card__city-descr">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card__timetable list contacts-card__info--underline">
            <ul class="list">
              <li class="contacts-card__working-time">
                <h3 class="working-time__days">Monday - Friday</h3>
                <p class="working-time__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts-card__working-time">
                <h3 class="working-time__days">Saturday - Sunday</h3>
                <p class="working-time__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts-card__connect list">
            <ul>
              <li class="list">
                <a class="connect__tel" href="tel:+6100383766284">+61(0) 383 766 284</a>
              </li>
              <li class="list">
                <a class="connect__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="contacts-card list">
        <span class="contacts-card__category">CAFE</span>
        <ul class="contacts-card__info">
          <li class="contacts-card__city list contacts-card__info--underline">
            <h3 class="contacts-card__city-name">New York</h3>
            <p class="contacts-card__city-descr">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card__timetable list contacts-card__info--underline">
            <ul class="list">
              <li class="contacts-card__working-time">
                <h3 class="working-time__days">Monday - Friday</h3>
                <p class="working-time__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts-card__working-time">
                <h3 class="working-time__days">Saturday - Sunday</h3>
                <p class="working-time__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts-card__connect list">
            <ul>
              <li class="list">
                <a class="connect__tel" href="tel:+6100383766284">+61(0) 383 766 284</a>
              </li>
              <li class="list">
                <a class="connect__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="buttons-wrap">
      <li class="contacts__links-btn list">
        <button class="button button--location" type="button">
          Our Locations
          <svg class="button__icon button__icon--location" width="6.8" height="10">
            <use href="/images/icon.svg#icon-btn-vector-main"></use>
          </svg>
        </button>
      </li>

      <li class="contacts__links-btn list">
        <button class="button button--franchise" type="button">
          Franchise
          <svg class="button__icon button__icon--franchise" width="6.8" height="10">
            <use href="/images/icon.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
