<article class="reviews">
  <div class="container">
    <ul class="reviews__box">
      <li>
        <div class="reviews__info">
          <img
            class="reviews__photo"
            src="images/review-img-first.png"
            alt="учасник проекту 1"
            width="85"
            height="85"
          />
          <div class="reviews__text">
            <div class="reviews__gradient"></div>
            <p class="reviews__description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Emily, Los Angeles</h2>
        </div>
      </li>
      <li>
        <div class="reviews__info">
          <img
            class="reviews__photo"
            src="images/review-img-second.png"
            alt="учасник проекту 1"
            width="85"
            height="85"
          />
          <div class="reviews__text">
            <div class="reviews__gradient"></div>
            <p class="reviews__description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Lara, Chicago</h2>
        </div>
      </li>
      <li>
        <div class="reviews__info">
          <img
            class="reviews__photo"
            src="images/review-img-third.png"
            alt="учасник проекту 3"
            width="85"
            height="85"
          />
          <div class="reviews__text">
            <div class="reviews__gradient"></div>
            <p class="reviews__description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Eva, New York</h2>
        </div>
      </li>
    </ul>
  </div>
</article>
