<section class="reviews">
  <div class="container">
    <article class="reviews__box">
      <div class="reviews__slide">
        <div class="reviews__info">
          <div class="reviews__photo reviews__photo1"></div>
          <div class="reviews__text">
            <p class="reviews__description">
              The best way to end a hard day is a large portion of ice cream. It’s tasty and uplifts
              the mood.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Lera, Konotop</h2>
        </div>
      </div>
      <div class="reviews__slide">
        <div class="reviews__info">
          <div class="reviews__photo reviews__photo2"></div>
          <div class="reviews__text">
            <p class="reviews__description">
              If the wolf is silent, it is better not to interrupt. If the wolf eats ice cream, give
              him another one.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Vasyl, Kyiv</h2>
        </div>
      </div>
      <div class="reviews__slide">
        <div class="reviews__info">
          <div class="reviews__photo reviews__photo3"></div>
          <div class="reviews__text">
            <p class="reviews__description">Learned what is phantom deadline.</p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Volodymur, Kyiv</h2>
        </div>
      </div>
      <div class="reviews__slide">
        <div class="reviews__info">
          <div class="reviews__photo reviews__photo4"></div>
          <div class="reviews__text">
            <p class="reviews__description">
              Sex, drugs & rock'n'roll? — Bugs, hex & source control!
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Olexsandr, Rivne</h2>
        </div>
      </div>
      <div class="reviews__slide">
        <div class="reviews__info">
          <div class="reviews__photo reviews__photo5"></div>
          <div class="reviews__text">
            <p class="reviews__description">
              Are you coding and feel that you are "boiling"? Make a pause, eat ice cream.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Tetiana, Lutsk</h2>
        </div>
      </div>
      <div class="reviews__slide">
        <div class="reviews__info">
          <div class="reviews__photo reviews__photo6"></div>
          <div class="reviews__text">
            <p class="reviews__description">
              As the model is, so is the project. <span class="reviews__span">#loveIceCream</span>
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Andriy, Cherkassy</h2>
        </div>
      </div>
      <div class="reviews__slide">
        <div class="reviews__info">
          <div class="reviews__photo reviews__photo7"></div>
          <div class="reviews__text">
            <p class="reviews__description">
              Ice cream is a taste of childhood, hot summer, vacations, walks, this site will help
              you remember your childhood
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Taras, Lutsk</h2>
        </div>
      </div>
      <div class="reviews__slide">
        <div class="reviews__info">
          <div class="reviews__photo reviews__photo8"></div>
          <div class="reviews__text">
            <p class="reviews__description">
              I was almost knocked down by a car whose driver was eating an ice cream.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Volodymur, Kyiv</h2>
        </div>
      </div>
      <div class="reviews__slide">
        <div class="reviews__info">
          <div class="reviews__photo reviews__photo9"></div>
          <div class="reviews__text">
            <p class="reviews__description">Pause the world around you. Eat ice cream and relax.</p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Dmytro, Boryspil</h2>
        </div>
      </div>
      <div class="reviews__slide">
        <div class="reviews__info">
          <div class="reviews__photo reviews__photo10"></div>
          <div class="reviews__text">
            <p class="reviews__description">
              You just need to google until everything works. If all else fails, it's time to eat
              ice cream.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Liliia, Zhytomyr</h2>
        </div>
      </div>
    </article>
  </div>
</section>
