<article class="reviews">
  <div class="container">
    <!-- <div class="reviews__card"> -->
    <ul class="reviews__box">
      <li>
        <div class="reviews__info">
          <img
            class="reviews__photo"
            src="images/review-img-first.png"
            alt="учасник проекту 1"
            width="85"
            height="85"
          />
          <div class="reviews__text">
            <div class="reviews__gradient"></div>
            <p class="reviews__description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Emily, Los Angeles</h2>
        </div>
      </li>
      <li>
        <div class="reviews__info">
          <img
            class="reviews__photo"
            src="images/review-img-second.png"
            alt="учасник проекту 1"
            width="85"
            height="85"
          />
          <div class="reviews__text">
            <div class="reviews__gradient"></div>
            <p class="reviews__description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Lara, Berlin</h2>
        </div>
      </li>
      <li>
        <div class="reviews__info">
          <img
            class="reviews__photo"
            src="images/review-img-third.png"
            alt="учасник проекту 3"
            width="85"
            height="85"
          />
          <div class="reviews__text">
            <div class="reviews__gradient"></div>
            <p class="reviews__description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <ul class="reviews__list list">
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
            <li class="reviews__dots"></li>
          </ul>
          <h2 class="reviews__title">Eva, Paris</h2>
        </div>
      </li>
    </ul>
    <ul class="reviews__nav list">
      <li class="reviews__element">
        <svg class="reviews__icon" width="12" height="12">
          <use href="/images/icon.svg#icon-rewiew-link-home"></use>
        </svg>
      </li>
      <li class="reviews__element"></li>
      <li class="reviews__element"></li>
    </ul>
    <!-- </div> -->
  </div>
</article>
