<footer class="footer">
    <div class="container">
        <div class="footer__title">
            <p>HOMEMADE ICE CREAM MADE</p>
            <h2>WITH PASSION</h2>
        </div>
        <ul class="scl-media">
            <li class="scl-media__item">
                <a class="scl-media__link" href=""></a>
            </li>
            <li class="scl-media__item">
                <a class="scl-media__link" href=""></a>
            </li>
            <li class="scl-media__item">
                <a class="scl-media__link" href=""></a>
            </li>
        </ul>
        <div class="contact-number">
            <p class="contact-number__text">Feel free to contact</p>
            <a class="contact-number__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
        <div class="copyright">
            <p class="copyright__text">2019 - IceCream.All Rights Reserved.</p>
        </div>
    </div>  
</footer>