<footer class="footer">
    <div class="container">
        <div class="footer-content">
        <div class="footer-name">
            <p class="footer-name__title">HOMEMADE ICE CREAM MADE</p>
            <h2 class="footer-name__title footer-name__title--general">WITH PASSION</h2>
        </div>
        <div class="footer-connect">
        <ul class="scl-media">
            <li class="scl-media__item">
                <a class="scl-media__link" target="_blank" href="https://github.com/">
                    <svg class="scl-media__icon" width="20px" height="20px">
                    <use href="/images/icon.svg#icon-github-link">
                    </use>
                    </svg>
                </a>
            </li>
            <li class="scl-media__item">
                <a class="scl-media__link" target="_blank" href="https://web.telegram.org/">
                    <svg class="scl-media__icon" width="20px" height="20px">
                    <use href="/images/icon.svg#icon-telegram-link">
                    </use>
                    </svg>
                </a>
            </li>
            <li class="scl-media__item">
                <a class="scl-media__link" target="_blank" href="https://www.facebook.com/">
                    <svg class="scl-media__icon" width="20px" height="20px">
                    <use href="/images/icon.svg#icon-facebook-link">
                    </use>
                    </svg>
                </a>
            </li>
        </ul>
        
        <div class="contact-number">
            <p class="contact-number__text">Feel free to contact</p>
            <a class="contact-number__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
        </div>
        </div>
        <div class="copyright">
            <p class="copyright__text copyright__text--first">2019 - IceCream.</p>
             <p class="copyright__text">All Rights Reserved.</p>
        </div>
    </div>  
</footer>
