<section class="section-gallery">
  <div class="container">
    <!-- код -->
    <div class="gallery">
      <figure class="gallery__item gallery__item--1">
        <img
          srcset="
            /images/gallery/pic_1_40.jpg   40w,
            /images/gallery/pic_1_80.jpg   80w,
            /images/gallery/pic_1_140.jpg 140w,
            /images/gallery/pic_1_160.jpg 160w,
            /images/gallery/pic_1_280.jpg 280w
          "
          sizes="(min-width: 1280px) 160px, (min-width: 768px) 100px, (min-width: 320px) 60px"
          src="/images/gallery/pic_1_40.jpg"
          alt="Image
        1"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img
          srcset="
            /images/gallery/pic_2_40.jpg   40w,
            /images/gallery/pic_2_80.jpg   80w,
            /images/gallery/pic_2_140.jpg 140w,
            /images/gallery/pic_2_160.jpg 160w,
            /images/gallery/pic_2_280.jpg 280w
          "
          sizes="(min-width: 1280px) 160px, (min-width: 768px) 100px, (min-width: 320px) 60px"
          src="/images/gallery/pic_2_40.jpg"
          alt="Image
        2"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img
          srcset="
            /images/gallery/pic_3_40.jpg   40w,
            /images/gallery/pic_3_80.jpg   80w,
            /images/gallery/pic_3_140.jpg 140w,
            /images/gallery/pic_3_160.jpg 160w,
            /images/gallery/pic_3_280.jpg 280w
          "
          sizes="(min-width: 1280px) 160px, (min-width: 768px) 100px, (min-width: 320px) 60px"
          src="/images/gallery/pic_3_40.jpg"
          alt="Image
        3"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img
          srcset="
            /images/gallery/pic_4_40.jpg   40w,
            /images/gallery/pic_4_80.jpg   80w,
            /images/gallery/pic_4_140.jpg 140w,
            /images/gallery/pic_4_160.jpg 160w,
            /images/gallery/pic_4_280.jpg 280w
          "
          sizes="(min-width: 1280px) 160px, (min-width: 768px) 100px, (min-width: 320px) 60px"
          src="/images/gallery/pic_4_40.jpg"
          alt="Image
        4"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--5">
        <img
          srcset="
            /images/gallery/pic_5_80.jpg   80w,
            /images/gallery/pic_5_160.jpg 160w,
            /images/gallery/pic_5_175.jpg 175w,
            /images/gallery/pic_5_284.jpg 284w,
            /images/gallery/pic_5_350.jpg 350w,
            /images/gallery/pic_5_564.jpg 564w
          "
          sizes="(min-width: 1280px) 350px, (min-width: 768px) 198px, (min-width: 320px) 124px"
          src="/images/gallery/pic_5_80.jpg"
          alt="Image
        5"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--6">
        <img
          srcset="
            /images/gallery/pic_6_40.jpg   40w,
            /images/gallery/pic_6_80.jpg   80w,
            /images/gallery/pic_6_140.jpg 140w,
            /images/gallery/pic_6_160.jpg 160w,
            /images/gallery/pic_6_280.jpg 280w
          "
          sizes="(min-width: 1280px) 160px, (min-width: 768px) 100px, (min-width: 320px) 60px"
          src="/images/gallery/pic_6_40.jpg"
          alt="Image
        6"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--7">
        <img srcset=" /images/gallery/pic_7_40.jpg 40w, /images/gallery/pic_7_80.jpg 80w,
        /images/gallery/pic_7_140.jpg 140w, /images/gallery/pic_7_160.jpg 160w,
        /images/gallery/pic_7_280.jpg 280w " sizes="(min-width: 1280px) 160px, (min-width: 768px)
        100px, (min-width: 320px) 60px7 src="/images/gallery/pic_7_40.jpg" alt="Image 7"
        class="gallery__img" />
      </figure>
      <figure class="gallery__item gallery__item--8">
        <img srcset=" /images/gallery/pic_8_40.jpg 40w, /images/gallery/pic_8_80.jpg 80w,
        /images/gallery/pic_8_140.jpg 140w, /images/gallery/pic_8_160.jpg 160w,
        /images/gallery/pic_8_280.jpg 280w " sizes="(min-width: 1280px) 160px, (min-width: 768px)
        100px, (min-width: 320px) 60px8 src="/images/gallery/pic_8_40.jpg" alt="Image 8"
        class="gallery__img" />
      </figure>
      <figure class="gallery__item gallery__item--9">
        <img
          srcset="
            /images/gallery/pic_9_40.jpg   40w,
            /images/gallery/pic_9_80.jpg   80w,
            /images/gallery/pic_9_140.jpg 140w,
            /images/gallery/pic_9_160.jpg 160w,
            /images/gallery/pic_9_280.jpg 280w
          "
          sizes="(min-width: 1280px) 160px, (min-width: 768px) 100px, (min-width: 320px) 60px"
          src="/images/gallery/pic_9_40.jpg"
          alt="Image
        9"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--10">
        <img
          srcset="
            /images/gallery/pic_10_40.jpg   40w,
            /images/gallery/pic_10_80.jpg   80w,
            /images/gallery/pic_10_140.jpg 140w,
            /images/gallery/pic_10_160.jpg 160w,
            /images/gallery/pic_10_280.jpg 280w
          "
          sizes="(min-width: 1280px) 160px, (min-width: 768px) 100px, (min-width: 320px) 60px"
          src="/images/gallery/pic_10_40.jpg"
          alt="Image
        10"
          class="gallery__img"
        />
      </figure>
    </div>
  </div>
</section>
