<section class="section-gallery">
  <div class="container">
    <!-- код -->
    <div class="gallery">
      <figure class="gallery__item gallery__item--1">
        <img
          srcset="pic_1_40.jpg 1x, pic_1_80.jpg 2x"
          src="/images/gallery/pic_1_40.jpg"
          alt="Image
        1"
          class="gallery__img"
        />
      </figure>
      <!-- <figure class="gallery__item gallery__item--2">
        <img
          srcset="pic_2_40.jpg 1x, pic_2_80.jpg 2x"
          src="/images/gallery/pic_2_40.jpg"
          alt="Image
        2"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img
          srcset="pic_3_40.jpg 1x, pic_3_80.jpg 2x"
          src="/images/gallery/pic_3_40.jpg"
          alt="Image
        3"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img
          srcset="pic_4_40.jpg 1x, pic_4_80.jpg 2x"
          src="/images/gallery/pic_4_40.jpg"
          alt="Image
        4"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--5">
        <img
          srcset="pic_5_80.jpg 1x, pic_5_160.jpg 2x"
          src="/images/gallery/pic_5_80.jpg"
          alt="Image
        5"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--6">
        <img
          srcset="pic_6_40.jpg 1x, pic_6_80.jpg 2x"
          src="/images/gallery/pic_6_40.jpg"
          alt="Image
        6"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--7">
        <img
          srcset="pic_7_40.jpg 1x, pic_7_80.jpg 2x"
          src="/images/gallery/pic_7_40.jpg"
          alt="Image
        7"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--8">
        <img
          srcset="pic_8_40.jpg 1x, pic_8_80.jpg 2x"
          src="/images/gallery/pic_8_40.jpg"
          alt="Image
        8"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--9">
        <img
          srcset="pic_9_40.jpg 1x, pic_9_80.jpg 2x"
          src="/images/gallery/pic_9_40.jpg"
          alt="Image
        9"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--10">
        <img
          srcset="pic_10_40.jpg 1x, pic_10_80.jpg 2x"
          src="/images/gallery/pic_10_40.jpg"
          alt="Image
        10"
          class="gallery__img"
        />
      </figure> -->
    </div>
  </div>
</section>
