<section class="section-gallery">
  <div class="container">
    <!-- код -->
    <div class="gallery">
      <figure class="gallery__item gallery__item--1">
        <img src="/images/gallery/pic_1.jpg" class="gallery__img" alt="Image 1" />
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img src="/images/gallery/pic_2.jpg" class="gallery__img" alt="Image 2" />
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img src="/images/gallery/pic_3.jpg" class="gallery__img" alt="Image 3" />
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img src="/images/gallery/pic_4.jpg" class="gallery__img" alt="Image 4" />
      </figure>
      <figure class="gallery__item gallery__item--5">
        <img src="/images/gallery/pic_5.jpg" class="gallery__img" alt="Image 5" />
      </figure>
      <figure class="gallery__item gallery__item--6">
        <img src="/images/gallery/pic_6.jpg" class="gallery__img" alt="Image 6" />
      </figure>
      <figure class="gallery__item gallery__item--7">
        <img src="/images/gallery/pic_7.jpg" class="gallery__img" alt="Image 7" />
      </figure>
      <figure class="gallery__item gallery__item--8">
        <img src="/images/gallery/pic_8.jpg" class="gallery__img" alt="Image 8" />
      </figure>
      <figure class="gallery__item gallery__item--9">
        <img src="/images/gallery/pic_9.jpg" class="gallery__img" alt="Image 9" />
      </figure>
      <figure class="gallery__item gallery__item--10">
        <img src="/images/gallery/pic_10.jpg" class="gallery__img" alt="Image 10" />
      </figure>
    </div>
  </div>
</section>
