<header class="header">
  <div class="container">
    <div class="header__content--top">
      <a href="" class="header__logo-link">
        <img
          src="../images/review -img-second.png"
          alt="Логотип"
          class="header__logo-image"
          width="200"
          height="50"
        />
      </a>
      <nav class="header__navigation"></nav>
      <button class="header__button" type="button" data-menu-button aria-expanded="false">
        <svg width="20" height="20" aria-label="Перемикач мобільного меню">
          <use href="" class="header__burger-icon--first"></use>
          <use href="" class="header__burger-icon--second"></use>
        </svg>
      </button>
    </div>
    <div class="header__content--bottom">
      <!-- Блок HERO -->
    </div>
  </div>
</header>
