<header class="header">
  <div class="container">
    <div class="header__content header__content--top">
      <a href="" class="header__logo-link">
        <img
          srcset="./images/main-logo.png 1x, ./images/main-logo@2x.png 2x"
          src="/images/main-logo@2x.png"
          alt="Логотип"
          class="header__logo-image"
          width="200"
          height="50"
        />
      </a>
      <nav class="header__navigation"></nav>
      <button
        class="header__button"
        type="button"
        data-menu-button
        aria-expanded="false"
        data-modal-open
      >
        <svg
          width="20"
          aria-label="Перемикач мобільного меню"
          class="header__burger-svg"
          viewBox="0 0 32 32"
        >
          <use href="./images/icon.svg#icon-Burger-btn" class="header__burger-icon"></use>
        </svg>
      </button>
    </div>
    <div class="header__content header__content--bottom">
      <!-- Блок HERO -->
      <section class="hero">
        <div class="hero__text">
          <h2 class="hero__title">ice cream <br />made with</h2>
          <h1 class="hero__aftertitle">passion</h1>
          <div class="hero__button">
            <button type="button" class="hero__products">Products</button>
            <button type="button" class="hero__meta">How it's made</button>
          </div>
        </div>
        <div class="hero__image">
          <picture>
            <source
              srcset="/images/hero-bg-circle-mob.png 1x, /images/hero-bg-circle-mob@2x.png 2x"
              media="(max-width: 320px)"
            />
            <img
              class="eclipse"
              srcset="/images/hero-bg-circle-mob.png 1x, /images/hero-bg-circle-mob@2x.png 2x"
              src="/images/hero-bg-circle-mob.png"
            />
          </picture>
          <picture>
            <source
              srcset="/images/hero-icecream-mob.png 1x, /images/hero-icecream-mob@2x.png 2x"
              media="(max-width: 320px)"
            />
            <img
              class="ice"
              srcset="/images/hero-icecream-mob.png 1x, /images/hero-icecream-mob@2x.png 2x"
              src="/images/hero-icecream-mob.png"
            />
          </picture>
        </div>
      </section>
    </div>
  </div>
</header>
