<section>
  <div>
    <div class="mobile__menu is-hidden" data-modal>
      <button class="close__btn" data-modal-close>
        <svg width="14px" height="14px">
          <use href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>
      <button type="button" class="mobile__btn">
        Buy now
        <svg width="5px" height="8px" class="modal__vector">
          <use href="./images/icon.svg#icon-vector"></use>
        </svg>
      </button>
      <ul class="mobile__list list">
        <li class="mobile__item">
          <a href="#home" class="mobile__link">Home</a>
        </li>
        <li class="mobile__item">
          <a href="#advantages" class="mobile__link">About us</a>
        </li>
        <li class="mobile__item">
          <a href="#about" class="mobile__link">How it’s made?</a>
        </li>
        <li class="mobile__item">
          <a href="#products" class="mobile__link">Our products</a>
        </li>
        <li class="mobile__item">
          <a href="#contacts" class="mobile__link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</section>
