.advantages-section{
    background-color: var(--main-bg-second);
}
.advantages {    
    &__item { 
        display: inline-block;
        max-width: 230px;
        margin-bottom: 32px;
        &::before{
            display: inline-block;
            margin-bottom: 16px;
            content: "";
            background-repeat: no-repeat;
            background-size: contain;  
        }

        &:nth-child(1)::before {
            width: 33px;
            height: 50px;                        
            background-image: url("/images/advant-ico-one.png");                        
        }
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                &:nth-child(1)::before {                    
                    background-image: url("/images/advant-ico-one@2x.png");
                }
            }
        &:nth-child(2)::before {
            width: 50px;
            height: 50px;                        
            background-image: url("/images/advant-ico-two.png");            
        }
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                &:nth-child(2)::before {                    
                    background-image: url("/images/advant-ico-two@2x.png");
                }
            }
        &:nth-child(3)::before {
            width: 44px;
            height: 50px;                        
            background-image: url("/images/advant-ico-three.png");            
        }
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                &:nth-child(3)::before {                    
                    background-image: url("/images/advant-ico-three@2x.png");
                }
            }
    }

    &__title {        
        font-family: 'Titan One';
        @include font-style(null, 36px, 1.14, 0.04em); 
        text-transform: uppercase;
        color:var(--main-text);
        margin-bottom: 10px;
    }

    &__text {       
        font-family: 'DM Sans';
        @include font-style(700, 12px, 1.7, null);
        color: var(--default-text-main);
    }

    @media screen and (min-width:768px) {
        display: inline-flex;
        justify-content: flex-start;        
        
        &__item { 
            max-width: 180px;
            margin-bottom: 0;
            &:not(:last-child) {
                    margin-right: 4px;
                }            
        
            &::before {                
                margin-bottom: 36px;                
            } 
        }
        &__title {
            @include font-style(null, 48px, null, 0.04em);
            margin-bottom: 13px;
        }
        &__text {            
            @include font-style(null, 14px, 1.74,null);
        }
    }

    @media screen and (min-width:1280px) {
        &__item {
            max-width: 288px;
            &:not(:last-child) {
                margin-right: 106px;
            }
            &::before {                
                margin-bottom: 40px;                
            } 
        }
        &__title {
            @include font-style(null, 58px, null, 0.04em);
            margin-bottom: 16px;
        }
        &__text {            
            @include font-style(null, 16px, 1.76, 0.02em);
        }
    }
}