.reviews {
    margin-top: 80px;
    margin-bottom: 48px;
}

.reviews__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews__photo {
    margin-bottom: 32px;
}

.reviews__text {
    min-width: 280px;
    background-color: var(--bg-fourth);
    padding: 74px 50px 17px 50px;
    min-height: auto;
}

.reviews__description {
    font-family: DM Sans, sans-serif;
    @include font-style (500, 12px, 2.58, null);
    text-align: center;
    color: var(--default-text-main);

    background: repeating-linear-gradient(transparent 0px,
        transparent 30px,
        var(--line) 1px,
        var(--line) 31px);
}

.reviews__description::before {
    content: '';
    display: block;
    // width: 54px;
    // height: 40px;
}

.reviews__list {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.reviews__dots {
    &+& {
        margin-left: 10px;
    }
}

.reviews__dots::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--main-text-hover);
}

.reviews__title {
    font-family: DM Sans, sans-serif;
    @include font-style (500, 14px, 1.86, null);
    text-align: center;
    color: var(--default-text-main);
}