.backdrop-buy {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(223, 108, 147, 0.47);
    overflow: scroll;
    
    opacity: 1;
    transition: opacity 250ms linear,
        visibility 250ms linear;
}

.backdrop-buy.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    .modal-buy {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.modal-buy {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 95vw;
    min-height: 400px;
    background-color: hsla(346, 100%, 86%, 0.872);
    border-radius: 20px;
    padding: 40px 60px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @media screen and (min-width: 768px) {
            width: 500px;
    }
}

.modal-buy__close {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
        
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--main-btn);
    background-color: transparent;
    color: var(--main-text);
    &:hover,&:focus {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--main-bg-second);
        border-color: var(--main-bg-second);
    }
}

.modal-buy__svg {
    fill: currentColor;
}

.modal-buy__title {
    @include font-style (700, 25px, 1.15, null);
    text-align: center;
    color: var(--main-text);
}
.modal-buy__form {
    margin-top: 20px;
}
 .modal-buy__field+.modal-buy__field {
     margin-top: 15px;
}

.modal-buy__label {
    font-style: normal;
    @include font-style (null, 16px, 1.17, 0.01em);
    color: var(--main-text);
}

.modal-buy__input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border: 1px solid var(--menu-bg);
    border-radius: 10px;
    background-color: transparent;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include font-style (null, 16px, 1.87, 0.03em);
    color: var(--main-text);
    outline: none;

    &:focus {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-color: var(--main-bg-second);
    }
}

.modal-buy__wrap {
    position: relative;
}

.modal-buy__icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 12px;
    fill: var(--main-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-buy__input:focus+& {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: var(--main-bg-second);
    }
}

.modal-buy__comment {
    width: 100%;
    height: 120px;
    resize: none;
    margin-top: 6px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 12px 20px;
    border: 1px solid var(--menu-bg);
    border-radius: 4px;
    background-color: transparent;
    @include font-style (null, 16px, 1.87, 0.03em);
    color: var(--main-text);
    outline: none;

    &:focus {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-color: var(--main-bg-second);
    }
}

.modal-buy__btn {
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px 32px;

    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: inherit;
    background-color: var(--main-text);
    color: var(--main-bg-second);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

    cursor: pointer;

    &:hover,
    &:focus {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        background-color: var(--main-bg-second);
        color: var(--main-text);
    }
}