.product {
  padding-top: 80px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &__label {
    margin-bottom: 15px;
    @include font-style(400, 18px, 1.16, null);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-second);
    @media screen and (min-width: 768px) {
      font-family: 'Titan One';
      @include font-style(400, 26px, 1.15, null);
      margin-bottom: 18px;
    }
  }

  &__title {
    margin-bottom: 8px;
    @include font-style(400, 34px, 1.14, 0.04em);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text);
    @media screen and (min-width: 768px) {
      font-family: 'Titan One';
      @include font-style(400, 48px, 1.14, 0.04em);
      margin-bottom: 16px;
    }
  }
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: -16px;
    }
  }
  &__item {
    position: relative;
    padding-top: 140px;
    @media screen and (min-width: 768px) {
      width: calc(100% / 3 -16px);
      margin-left: 16px;
    }
  }
  &__item-title {
    @include font-style(400, 20px, 1.15, 0.04em);
    text-align: center;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 32px;
      margin-bottom: 32px;
      width: 26px;
      height: 6px;
      background-image: url(/images/three-dots.png);
    }
  }
  &__description {
    margin-bottom: 32px;
    font-family: 'DM Sans';
    font-style: normal;
    @include font-style(700, 14px, 1.52, 0.04em);
    text-align: center;
    @media screen and (min-width: 320px) {
      height: 124px;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__description--tablet {
    display: none;
    margin-bottom: 32px;
    font-family: 'DM Sans';
    font-style: normal;
    @include font-style(700, 14px, 1.76, 0.04em);
    text-align: center;
    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }
  &__thumb {
    width: 100%;

    overflow: hidden;
    border-radius: 24px;
    text-align: center;
    padding-left: 41px;
    padding-right: 39px;
    padding-bottom: 40px;
    padding-top: 160px;
    @media screen and (min-width: 320px) {
      height: 489px;
    }
    @media screen and (min-width: 768px) {
      height: 473px;
      padding-left: 32px;
      padding-top: 118px;
      padding-right: 32px;
    }

    &--first {
      background-color: var(--main-first);
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        height: 280px;
        background-position: center;
        background-size: contain;
        background-image: url(/images/prod-icecream-mob.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(/images/prod-icecream-mob@2x.png);
        }
        @media screen and (min-width: 768px) {
          width: 224px;
          height: 224px;
        }
      }
    }
    &--second {
      background-color: var(--bg-second);
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        height: 280px;
        background-position: center;
        background-size: contain;
        background-image: url(/images/prod-coffee-mob.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(/images/prod-coffee-mob@2x.png);
        }
        @media screen and (min-width: 768px) {
          width: 224px;
          height: 224px;
        }
      }
    }
    &--third {
      background-color: var(--bg-third);
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        height: 280px;
        background-position: center;
        background-size: contain;
        background-image: url(/images/prod-milkshakes-mob.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(/images/prod-milkshakes-mob@2x.png);
        }
        @media screen and (min-width: 768px) {
          width: 224px;
          height: 224px;
        }
      }
    }
  }
  &__button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    text-align: center;
    background-image: url(/images/arrow-right.png);
  }
}
